html {
  box-sizing: border-box;
  font-size: 66.67%;
}

body {
  width: 400px;

  font-family: 'Roboto', sans-serif;
}

.deselected {
  background: red !important;
}

.localName {
  background: lightgreen;
}

.class {
  background: lightblue;
}

.id {
  background: lightsalmon;
}
