.ParentMethod {
  background: purple;
}

.MethodName {
  background: red;
}

.FieldName {
  background: orange;
}

.FieldDescription {
  background: yellow;
}

.FieldDataType {
  background: green;
}

.ExampleRequest {
  background: turquoise;
}

.ExampleResponse {
  background: blue;
}
